#titulo{
    text-align: center;
    margin: 30px;
    font-size: 40px;
    border: double;
    font-style: italic;
    background-color: cornsilk
}
#tex{
    display: inline-block;
    width: 60%;
    text-align: left;
    border: outset;
}

.columna1{
    
    display: flex;
    margin: 10px;
    float: left;
    border: inset;
}
.fila{
    display: flex;
    margin: 10px;
    float: left;
    border: inset;
}
.columna{
    display: flex;
    margin: 10px;
    float: left;
        border: inset;
}
